<div class="contents">
    <div class="top-content">
      <h2 class="title-name">Can-Notify</h2>
      <p class="subtitle-name">〜あなたの”できる”を発信しよう〜</p>
    </div>
    <div class="bottom-content">
       <div class="left-content">
        <h3>Can-Notifyについて</h3>
        <h5>内容：あなたの”できる”を企業様に発信するSNSサイトです。企業様は安い広告料でイノベーティブな人材を採用に直結することができます。</h5>
        <h5>広告料：月額5000円</h5>
        <h5>開発メンバー：</h5>
        <%= image_tag 'takuya.jpg', :class => "image"  %>
        <h6>春名卓哉</h6>
       </div>
       <div class="right-content">
        <h3>お問い合わせ</h3>
        <h4>＜連絡先＞</h4>
        <table>
          <tr>
            <th>電話番号</th>
            <th>メールアドレス</th>
          </tr>
          <tr>
            <td>0120634456</td>
            <td>Can-Notify.gmail.com</td>
          </tr>
        </table>
        <h4 class="contact">＜連絡フォーム＞</h4>
        <form>
          <input type="text" placeholder="名前を入力してください"></br>
          <textarea placeholder="お問い合わせ内容を入力して下さい"></textarea></br>
          <label>
            <input type="radio" name="X" value="0">男性
          </label>
          <label>
            <input type="radio" name="y" value="1">女性
          </label></br>
          <h7>
            所属:
          </h7>
          <select>
            <option value="student">学生</option>
            <option value="businessman">社会人</option>
          </select></br>
          <label>
            <input type="checkbox" name="checkbox" value="ロボットチェック">あなたはロボットではありません
          </label></br>
          <label>
            <input type="submit" value="予約メールを送る">
          </label>
        </form>
       </div>
    </div>
  </div>
